In [6]:

import pandas as pd
df = pd.read_csv("Hpcle.csv",parse_dates=["Date"])
df.set_index('Date',inplace=True)
df

,Benzene,Ethyl Benzene,Ethyl Merca,H2s,Mp Xylene,Methyl Mercaptan,NH3,O_xylene,PM10,PM2.5,SO2,Toluene
Date,,,,,,,,,,,,
2019-08-01,250.94,633.73,4.25,13.30,633.73,0.00,22.91,633.73,17.18,25.70,42.13,633.73
2019-08-02,142.52,296.10,3.75,0.91,306.24,2.81,24.85,300.26,17.99,20.39,40.13,309.43
2019-08-03,0.83,0.04,2.74,0.09,14.73,3.79,19.72,5.87,17.74,18.96,44.54,18.82
2019-08-04,1.03,0.00,2.14,0.00,18.64,1.33,18.58,9.54,18.03,19.11,37.19,39.13
2019-08-05,1.87,0.44,2.93,0.00,24.57,6.47,18.62,12.26,18.39,18.59,35.85,45.97
...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-01,4.71,6.59,9.40,16.01,0.35,9.23,59.76,8.52,93.41,49.12,17.18,13.48
2020-12-02,4.71,6.59,9.40,16.01,0.35,9.23,59.76,8.52,93.41,49.12,17.18,13.48
2020-12-03,4.71,6.59,9.40,16.01,0.35,9.23,59.76,8.52,93.41,49.12,17.18,13.48
2020-12-04,4.71,6.59,9.40,16.01,0.35,9.23,59.76,8.52,93.41,49.12,17.18,13.48
2020-12-05,4.71,6.59,9.40,16.01,0.35,9.23,59.76,8.52,93.41,49.12,17.18,13.48

In [30]:
import pandas as pd
df = pd.read_csv("AnushaktiApi.csv",parse_dates=["Date"])
df

        Date  O3  PM2.5  PM10  AQI
0 2020-12-28  73    312   186  270
1 2020-12-29  73    312   186  250
2 2020-12-30  73    312   186  310
3 2020-12-31  73    312   186  312

In [34]:
AnushaktiApi=df['AQI'].iloc[-1]

In [35]:
po

312

In [36]:
new_df = df.interpolate(method="linear") 
new_df

,Benzene,Ethyl Benzene,Ethyl Merca,H2s,Mp Xylene,Methyl Mercaptan,NH3,O_xylene,PM10,PM2.5,SO2,Toluene,Unnamed: 13
Date,,,,,,,,,,,,,
2019-08-01,250.94,633.73,4.25,13.30,633.73,0.00,22.91,633.73,17.18,25.70,42.13,633.73,NaN
2019-08-02,142.52,296.10,3.75,0.91,306.24,2.81,24.85,300.26,17.99,20.39,40.13,309.43,NaN
2019-08-03,0.83,0.04,2.74,0.09,14.73,3.79,19.72,5.87,17.74,18.96,44.54,18.82,NaN
2019-08-04,1.03,0.00,2.14,0.00,18.64,1.33,18.58,9.54,18.03,19.11,37.19,39.13,NaN
2019-08-05,1.87,0.44,2.93,0.00,24.57,6.47,18.62,12.26,18.39,18.59,35.85,45.97,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-01,4.71,6.59,9.40,16.01,0.35,9.23,59.76,8.52,93.41,49.12,17.18,13.48,NaN
2020-12-02,4.71,6.59,9.40,16.01,0.35,9.23,59.76,8.52,93.41,49.12,17.18,13.48,NaN
2020-12-03,4.71,6.59,9.40,16.01,0.35,9.23,59.76,8.52,93.41,49.12,17.18,13.48,NaN
2020-12-04,4.71,6.59,9.40,16.01,0.35,9.23,59.76,8.52,93.41,49.12,17.18,13.48,NaN
2020-12-05,4.71,6.59,9.40,16.01,0.35,9.23,59.76,8.52,93.41,49.12,17.18,13.48,NaN

In [37]:
new_df.to_csv('Hpclean.csv', index=True)

In [75]:
type(df.Date[0])

AttributeError: 'DataFrame' object has no attribute 'Date'

In [4]:
import folium
import os
import json
from folium.features import DivIcon
import pandas as pd
# Create map object
pd.options.mode.chained_assignment = None
m = folium.Map(location=[19.0611, 72.8993], zoom_start=13)


# Geojson Data 
overlay = os.path.join('', 'M-ward-parts(W).json')
overlay3 = os.path.join('', 'M-ward-parts(E).json')

overlay2 = os.path.join('', 'partsoverlap.json')

#csv for m ward west
Chedda_Nagar = pd.read_csv("CheddaNagar.csv")


Tilak_Nagar = pd.read_csv("TilakNagar.csv")


Sindhi_Society = pd.read_csv("SIndhiSociety.csv")


Chembur_West =  pd.read_csv("Chembur_west.csv")

Deonar =  pd.read_csv("Deonar.csv")


Mahul_E = pd.read_csv("MahulApi.csv")


CheddaApi = Chedda_Nagar.tail(1)
CheddaApi['name'] = 'Chedda nagar'

DeonarApi = Deonar.tail(1)
DeonarApi['name'] = 'Deonar'

TilakApi = Tilak_Nagar.tail(1)
TilakApi['name'] = 'Tilak Nagar'
SindhiApi = Sindhi_Society.tail(1)
SindhiApi['name'] = 'Sindhi Society'
ChemburWApi = Chembur_West.tail(1)
ChemburWApi['name'] = 'Chembur-west'
MahulApi = Mahul_E.tail(1)
MahulApi['name'] = 'Mahul'




################# m ward east
Cheeta_camp = pd.read_csv("CheetaCampApi.csv")


chembur_east = pd.read_csv("ChemburE.csv")


govandi_east = pd.read_csv("GovandiE.csv")


shivaji_nagar =  pd.read_csv("ShivajiNagar.csv")


trombay = pd.read_csv("TrombayApi.csv")

Anushakti = pd.read_csv("AnushaktiApi.csv")

mankhud_west = pd.read_csv("MankhurdWest.csv")

Cheeta_campApi = Cheeta_camp.tail(1)
Cheeta_campApi['name'] = 'Cheetah Camp'

chembur_eastApi = chembur_east.tail(1)
chembur_eastApi['name'] = 'Chembur-east'

govandi_eastApi = govandi_east.tail(1)
govandi_eastApi['name'] = 'Govandi'

shivaji_nagarApi = shivaji_nagar.tail(1)
shivaji_nagarApi['name'] = 'Shivaji Nagar'

trombayApi = trombay.tail(1)
trombayApi['name'] = 'Trombay'

AnushaktiApi = Anushakti.tail(1)
AnushaktiApi['name'] = 'Ansuhakti Nagar'

mankhud_westApi = mankhud_west.tail(1)
mankhud_westApi['name'] = 'Mankhurd'

#################

df_row = pd.concat([CheddaApi,ChemburWApi,MahulApi]) 
df_row2= pd.concat([SindhiApi, TilakApi,Cheeta_campApi,DeonarApi])

df_row3=pd.concat([chembur_eastApi,govandi_eastApi,shivaji_nagarApi,trombayApi,AnushaktiApi,mankhud_westApi])





#############

folium.GeoJson(overlay, name='M-ward-parts(W)').add_to(m)
folium.GeoJson(overlay3, name='M-ward-parts(E)').add_to(m)
folium.GeoJson(overlay2, name='partsoverlap').add_to(m)

# colormap = branca.colormap.linear.YlOrRd_09.scale(0, 500)
# colormap = colormap.to_step(index=[0, 50, 100, 150, 200, 300, 400, 500])
# colormap.caption = 'Air Quality Index of M-ward West'
# colormap.add_to(m)

choropleth = folium.Choropleth(
    geo_data=overlay,
    data=df_row,
    columns=['name', 'AQI'],
    name='choropleth',
    key_on='feature.properties.name',
    fill_color='YlOrRd',
    threshold_scale=[0, 100, 150, 200, 280, 300, 310, 340 , 400, 500],
    fill_opacity=0.7,
    legend_name='Air Quality Index of M-ward West',
    highlight=True


).add_to(m)

choropleth2 = folium.Choropleth(
    geo_data=overlay3,
    data=df_row3,
    columns=['name', 'AQI'],
    name='choropleth',
    key_on='feature.properties.name',
    fill_color='YlOrRd',
    threshold_scale=[0, 100, 150, 200, 280, 300, 310, 340 , 400, 500],
    fill_opacity=0.7,
 
    highlight=True


)
for key in choropleth2._children:
    if key.startswith('color_map'):
        del(choropleth2._children[key])
choropleth2.add_to(m)

choropleth3 = folium.Choropleth(
    geo_data=overlay2,
    data=df_row2,
    columns=['name', 'AQI'],
    name='choropleth',
    key_on='feature.properties.name',
    fill_color='YlOrRd',
    threshold_scale=[0, 100, 150, 200, 280, 300, 310, 340 , 400, 500],
    fill_opacity=0.7,
 
    highlight=True


)
for key in choropleth3._children:
    if key.startswith('color_map'):
        del(choropleth3._children[key])
choropleth3.add_to(m)

        
        
folium.LayerControl().add_to(m)
choropleth.geojson.add_child(
    folium.features.GeoJsonTooltip(['name', 'AQI'], labels=True)
)
choropleth2.geojson.add_child(
    folium.features.GeoJsonTooltip(['name', 'AQI'], labels=True)
)
choropleth3.geojson.add_child(
    folium.features.GeoJsonTooltip(['name', 'AQI'], labels=True)
)

# folium.map.Marker(
#     [19.044310172961623, 72.88300037384032],
#     icon=DivIcon(
#         icon_size=(180, 30),
#         icon_anchor=(0, 0),
#         html='<div style="font-size: 24pt">M-ward(W)</div>',
#     )
# ).add_to(m)

# Generate map
m.save('map.html')

TypeError: int() argument must be a string, a bytes-like object or a number, not 'DataFrame'